<form (ngSubmit)="onSubmit()" #studentForm="ngForm">
  <Label for="name">Student name</Label>
  <input type="text" [(ngModel)]="name" name="name" required />
  <fieldset>
    <legend>Select Grade</legend>
  <label>
    <input type="radio" name="grade" [(ngModel)]="selectedGrade" value="A" />
    A
  </label>
  <label>
    <input type="radio" name="grade" [(ngModel)]="selectedGrade" value="B" />
    B
  </label>
  <label>
    <input type="radio" name="grade" [(ngModel)]="selectedGrade" value="C" />
    C
  </label>
  </fieldset>
  <button type="submit">Submit</button>
</form>
<div>
  <h1>Student Dashboard</h1>
  <div class="Dashboard">
    <ul>
      <li *ngFor="let i of students">
        <p>👨‍🎓</p>
        <p>Name:{{i.name}}</p>
        <p>Grade:{{i.grade}}</p>
          <div [ngSwitch]="i.grade">
            <span *ngSwitchCase="'A'">🟢 <strong>Excellent</strong></span>
            <span *ngSwitchCase="'B'">🟡 <strong>Good</strong></span>
            <span *ngSwitchCase="'C'">🔴 <strong>Needs Improvement</strong></span>
            <span *ngSwitchDefault>⚪ <strong>Not Rated</strong></span>
           </div>
      </li>
    </ul>
  </div>
</div>
